.success{
    background-color: forestgreen;
    width: 55%;
    text-align: center;
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
    font-weight: 550;
    margin-top: 10px;
}

.failure{
    background-color: #D10000;
    width: 55%;
    text-align: center;
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
    font-weight: 550;
    margin-top: 10px;
}

.applicationUpdate{
    display: flex;
    justify-content: center;
}

.accept{
    margin-right: 50px;
    background-color: forestgreen;
}

.deny{
    margin-left: 50px;
    background-color: #D10000;
}

.statusButton{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-style: hidden;
    font-weight: 700;
    font-size: 15px;
}

.statusButton:hover{
    opacity: 80%;
    cursor: pointer;
}

.statusButtonWrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}